:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #c1cce8;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/* Clase global */
.opacity {
    opacity: .6;
    font-size: 1rem;
}
.fs-7{
    font-size: 12px;
}

.bg-primario{
    background-color: #317AC7;
}
.bg-secundario{
    background-color: #7CF6FD;
}
@media (min-width: 768px) {
    .contenedor{
        max-width: 90%;
    }
}
@media (min-width: 1200px) {
    .contenedor{
        max-width: 900px;
    }
}

/* Dark mode config */
.bg-oscuro header
{
    background-color: #222121!important;
    box-shadow: 0px 0px 1px 1px white!important;
}

.bg-oscuro .sublink{
    color: #7CF6FD;
}
.bg-oscuro .buttonLink{
    color: #7CF6FD!important;
    background-color: #222121!important;
}

.bg-oscuro .post,
.bg-oscuro section,
.bg-oscuro aside,
.bg-oscuro
{
    background-color: #313030!important;
}
body {
    background-color: #707D9D!important;
}

.bg-oscuro
{
    background-color: #242526!important;
}

.bg-oscuro .sendPost{
    color: white!important;
}

/* Text input */
.bg-oscuro input[type="text"]{
    color: #ffffff!important;
}
.color-oscuro h2,
.color-oscuro h1,
.color-oscuro p,
.color-oscuro hr,
.color-oscuro h3,
.color-oscuro h4,
.color-oscuro h5,
.color-oscuro h6
{
    color: #B0B3B8!important;
}

/* Estilo al scroll */
body {
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

/* Darkmode input comment */
.comment{
    background-color: #c2c2c2dc;
    outline: none;
}
.bg-oscuro .comment{
    background-color: #afafaf4a;
    outline: none;
}
.router-link-active{
    color: #7CF6FD!important;
    background-color: #565454!important;
}
.bg-oscuro .router-link-active{
    color: white!important;
    background-color: #565454!important;
}