:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #c1cce8;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/* Clase global */
.opacity {
    opacity: .6;
    font-size: 1rem;
}
.fs-7{
    font-size: 12px;
}

.bg-primario{
    background-color: #317AC7;
}
.bg-secundario{
    background-color: #7CF6FD;
}
@media (min-width: 768px) {
    .contenedor{
        max-width: 90%;
    }
}
@media (min-width: 1200px) {
    .contenedor{
        max-width: 1100px;
    }
}